<h1>better xhr modal</h1>
<div ng-controller="TaskListCtrl">
  <div ng-include='"partials/partial1.html"'>
  </div>
</div>
<button ng-click="closeIt()">close</button>
<script>
  $(function(){
    // this doesn't actually run unless we include jquery in the page instead of using angular's jqlite.
    // HOWEVER, when i do that, things that should run only once start running more than once! like,
    // this line will be logged three times!
    console.log("xhr modal content loaded up");
  })
</script>
