<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <hr>
  <h2>url fragment-routed task list micro-app</h2>
  <ul class="menu">
    <li><a href="#/tasks">tasks</a></li>
    <li><a href="#/new">new task</a></li>
  </ul>
  <div ng-view></div>

  <hr>
  <h2>clicky div chooser</h2>
  <p>with css, this is the basis for tabs/accordions/etc</p>
  <table>
    <tr><td>
      <pre class="ng-cloak">main scope curdiv={{curdiv}}</pre>
      <ul>
        <li><a href="" ng-click="curdiv = 'one'">div one</a></li>
        <li><a href="" ng-click="curdiv = 'two'">div two</a></li>
        <li><a href="" ng-click="curdiv = 'three'">div three (task list)</a></li>
      </ul>
    </td><td>
      <div ng-switch="curdiv" class="ng-cloak">
        <div ng-switch-when="one"> <h3>one</h3> </div>
        <div ng-switch-when="two"> <h3>two</h3> </div>
        <div ng-switch-when="three" ng-include='"partials/three.html"'> <h3>three</h3> </div>
      </div>
    </td></tr>
  </table>

  <hr>
  <h2>css transition</h2>
  <p><label for="showittoggle"><input type="checkbox" id="showittoggle" ng-model="showit"> show it</label></p>
  <div ng-class="{on: showit, off: !showit}" class="fade zoom off" style="float: left">
    fade and zoom in and out via css transitions, but alas no display:* toggling here.
  </div>

  <hr style="clear:both">
  <h2>simple static modal</h2>
  <p>uses css transitions and a controller for some $timeout() calls to implement a 2-stage css class modification.</p>
  <div ng-controller="ModalTestCtrl">
    <p><button ng-click="openIt()">open modal</button></p>
    <div ng-class="{showing: inModal, hidden: !inModal, on: activeModal, off: !activeModal}" class="fade off modal-outer">
      <div class="modal-inner-1"><div class="modal-inner-2"><div class="modal-inner-3">
        <div class="modal-bg" ng-click="closeIt()"></div>
        <div ng-class="{showing: inModal, hidden: !inModal, on: activeModal, off: !activeModal}" class="modal-content zoom off">
          <h1>hello</h1>
          <button ng-click="closeIt()">close</button>
        </div>
      </div></div></div>
    </div>
  </div>

  <hr style="clear:both">
  <h2>derpy xhr directive-based modal</h2>
  <p>the contents of this modal are loaded from a remote template. however, the template is fetched and inserted into the dom right away on page load (check out the dom right now in the inspector), not on the click event. plus, the open event isn't guaranteed to happen after the remote content is laoded and parsed. so this is pretty derpy. but it's a start.</p> 
  <p><button derpy-xhr-modal="partials/xhrmodal.html">open xhr modal</button></p>

  <hr style="clear:both">
  <h2>decorator directive w/ remote decorator template using transclusion</h2>
  <p fancyfoo>fancyfoo text</p>

  <hr style="clear:both">
  <h2>improved directive-based modal</h2>
  <p><button better-xhr-modal="partials/xhrmodal2.html">open better xhr modal</button></p>

  <hr style="clear:both">
  <h2>directive-based inline (non-xhr) modal</h2>
  <p><button inline-modal="anInlineModal">open inline modal</button></p>
  <div id="anInlineModal" class="hidden">
    <h1>this modal content is defined inline.</h1>
    <button ng-click="closeIt()">close</button>
  </div>

  <hr style="clear:both">
  <h2>nested inline modal test</h2>
  <p><button inline-modal="nestedInlineModal">open inline modal</button></p>
  <div id="nestedInlineModal" class="hidden">
    <h1>this modal content is defined inline.</h1>
    <p><button inline-modal="nestedInlineModal">open inline modal</button></p>
    <button ng-click="closeIt()">close</button>
  </div>

  <script src="js/async-load.js"></script>

</body>
</html>
